*{
	margin:0 auto;
	padding:0;
	

}
body{
	background-color: rgb(237,237,237);
}
#wrapper{
	border-right:25px solid rgb(237,237,237);
	border-left:25px solid rgb(237,237,237);
	border-top:10px solid rgb(237,237,237);
	border-bottom: 0px;
	background: white;
}
#body{	
	
	padding-top:20px;
	width: 750px;
	max-width: 90%;
	//border-left: 20px solid rgb(237,237,237);
	//border-right: 20px solid rgb(237,237,237);
	background-color: white;
	// box-shadow: 10px 0px 50px #888888;
	}
#header{
	height: 100px;
	width:750px;
	max-width: 90%;
	padding-top:20px;
	position: relative;
}
.menubtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
@media (max-width: 450px) {
		.menubtn{
			margin-left: 5px;
			font-size: 3vw;
			padding:3vw;
		}

		#header img {
			
			
			position: relative !important;
			display: block !important;
			width: 100px !important;
			height:70px !important;
		}
		#header span{
			position: relative !important;
			display: table !important;
			margin: 0 auto !important;
		}

	}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    //height: 25px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



#header img {
	position: absolute;
	left:0px;
	width:170px;
	height: 100px;

}
#header span{
	
	
	//font-size:15px;
	right:0px;
	bottom: 0px;
	//line-height: 100px;
	position: absolute;
}
#divider{
	position:relative;
	margin:10px 30px 0px 30px;
	
}

#header2{
	
	position: relative;



}

#header2 img{
	width:100%;
	height:auto;
	max-width:100%;


}
#content{
	position: relative;
	clear:both;
	margin-top: 15px;
	display: -webkit-box;
  	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
}
#left{
	//float:left;

	max-width:520px;
	min-width: 250px;


	display: -webkit-box;
  	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	

}
.posts{
	padding:0px;
	
	position: relative;
	display: inline;
	border:1px solid #a6a6a6;
	margin-right: 15px;
	margin-bottom: 15px;
	width:230px;
	flex-grow: 1;
	border-bottom-left-radius:5px;
	border-bottom-right-radius: 5px;
	


}
.posts img{
	position: relative;
	display: block;
	width:100%;
	height: auto;
}
.posts img:hover{
	opacity: 0.9;
}
.post_content{
	padding: 10px;
}



.posts a{
	text-decoration: none;
}
.posts h3{

	font-family: 'Vollkorn', serif;
	font-size: 18px;
	color: #333;
	//text-transform:uppercase;
}
.posts h3:hover{
	text-decoration: underline;
}
.posts p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #7d7d7d;
}
.tags{
	
	float: right;
	font-family:sans-serif;
	text-transform:uppercase;
	font-size: 10px;
	padding:10px;
	margin-top: 5px;
	
	
}
.tags a{
	text-decoration: none;
	color:#49b293;
	font-family: 'roboto',sans-serif;
	font-weight: bold;
	margin-left: 2px;
}
.tags a:hover{
	color: #2a866b;
}


#right{
	margin-top: 15px;
	width: 230px;
	
}
.right_box{
	padding:15px;
	background-color: rgb(237,237,237);
	border-radius: 15px;
	font-size: 12px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;

}
.right_box h3{
	font-family: 'Josefin Slab', serif;
	border-left: 5px solid black;
	font-size:15px;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 15px;
}
form input[type="email"]{
	width:150px;
	padding: 5px;
	border:0px;
}
form input[type="submit"]{
	padding:5px;
	border:0px;
	background:white;
}
#categories_right li{
	list-style: none;
	line-height: 2em;

}

#categories_right li:hover{
	color:red;
}
#footer{
	background: #222222;
	color: #aaaaaa;
	padding:15px;
	text-align: center;
	clear: both;
	position: relative;
}
#footer ul{
	list-style: none;

}
#footer ul li{
	font-family: 'Open Sans', sans-serif;
	display: inline;
	margin:20px;
}






